.container-fluid.pad-edge
  %h1.pt-5 Listing Product Reports

  %table.table
    %thead
      %tr
        %th Product
        %th Customer
        %th Content
        %th
        %th

    %tbody
      - @product_reports.each do |product_report|
        = render partial: 'product_report', locals: {product_report: product_report}
.justify-content-center.pagination.mb-5
  = will_paginate(@product_reports, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)
