.container-fluid.pad-edge
  .btn.btn-ecommerce.my-2
    = link_to 'Back to Product', @product_report.product

  .row
    %h1.pt-5 Report an Inappropriate or Inaccurate Product Listing
    %p Please tell us what we can do to improve the listing below.

    %p
      %b Name:
      = @product_report.product.name
    %p
      %b Vendor:
      = @product_report.product.business_name

    = render 'form'

