- content_for :title, "Affiliate Directory"

.container-fluid.pad-edge
  .pt-5 
    %h1 
      Affiliate Directory
    - @businesses.each do |business|
      = link_to business.name, business_path(business)
