.container-fluid.pad-edge
  .pt-5 
    - if @business.avatar.attached?
      = image_tag @business.avatar.variant(resize: "100x100!")
    %h1 
      = @business.name
    %p 
      = @business.description

    
