coverage/*
.rspec-examples
coverage/.resultset.json
coverage/index.html
public/packs-test/manifest.json
config/database.yml
.idea/*

# Ignore node_modules
node_modules/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore precompiled javascript packs
/public/packs
/public/packs/*
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads