.row
  #feature-shares-div.justify-content-center.bg-light-green
    %h2#feature-shares-barchart-title.text-center Shares By Feature (Total: #{@shares.size})
    = bar_chart feature_interest_chart_path, colors: %w[#de5246 #1da1f2 #4267B2], id: 'feature-shares-barchart-plot', stacked: true, ytitle: 'Feature', xtitle: 'Shares', title: 'Top 30 Most Popular Features'