.row
  #visits-barchart-div.justify-content-center.bg-light-green.col-xl-6
    %h2#visits-barchart-title.text-center Site Visits by Page (Total: #{@visits.size})
    = bar_chart visits_by_page_chart_path, id: 'visits-barchart-plot', ytitle: 'Page', xtitle: 'Visits', title: 'Top 30 Most Visited Pages'

  #visits-linechart-div.justify-content-center.bg-light-green.col-xl-6
    %h2#visits-linechart-title.text-center Landing Page Visits Over Time
    = line_chart time_visits_chart_path, id: 'visits-linechart-plot', ytitle: 'Visits', xtitle: 'Day', title: 'Page Visits Over the Last Month'

  %h1.mt-5.mb-3.text-center Visitor Geography Statistics
  #visits-geochart-div.justify-content-center.bg-light-green.col-xl-6
    %svg#visits-geo-plot.d-block.m-auto{width: "500px", height: "800px"}

  #registrations-geo-div.justify-content-center.bg-light-green.col-xl-6
    %h2#registrations-geo-title.text-center Site Visits By UK County
    .container
      %table#visits-geo-table.table.w-75.m-5.d-block.overflow-scroll{'height': '600px'}
        %thead
          %tr
            %th County
            %th Visitors
        %tbody#county-visits-list

  %h1#flow-report-title.text-center User Flow Report
  #flow-report-div.justify-content-center.bg-light-green
    .row.m-3
      .container.col-xl-4.overflow-scroll
        %table#registrations-geo-table.table.d-block.overflow-scroll{'height': '600px'}
          %thead
            %tr
              %th Registered?
              %th Session
          %tbody#sessions-list

      .container.col-xl-8.overflow-scroll
        %table#registrations-geo-table.table.d-block.overflow-scroll{'height': '600px'}
          %thead
            %tr
              %th State
              %th Page
              %th Time Spent

          %tbody#flow-list

    %svg#flow-report-plot.d-block.m-auto.col-xl-12