.container-fluid.pad-edge

    %h1.pt-5.center Hello, #{current_user.email}.
    %br
    - if current_user.admin?
        =link_to 'Access admin dashboard', admin_users_path, class: 'btn btn-xl'
    - else
        %br
        %br
        %h2 Sorry, there isn't much to see here at the moment :(
        %br
        = "Make sure you're subscribed #{link_to 'here', new_newsletter_path} to receive email updates! "
        

        
    


