.container-fluid.pad-edge

    %h1.pt-5.center Hello, #{current_user.email}.
    %br
    - if current_user.role == "admin"
        =link_to 'Modify users', admin_users_path
        %br
        =link_to 'View metrics', metrics_path

