.container.d-inline-flex.bg-light.px-0.mx-0
  -# - if product.image.attached?
  -#   %img= image_tag(product.image.variant(resize: '100x100'), alt: product.description)
  -# - else
  %img= image_tag('no-image.png', size: '100x100', alt: product.description)

  .container.bg-primary
    %h3.text-black.fw-normal.m-0= product.name
    %p= product.description

  .container.w-25.bg-secondary.align-middle
    -# %h2= product.price
    %h2= product.co2_produced



