- content_for :title, "Team 4 - Business info"

.container-fluid.pad-edge
  %h1.pt-5 Business info
  We haven't quite got anything yet, but we'd love to tell you when we have.
  .generic_price_btn.clearfix
    = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Business")