.container-fluid
  .row.text-center.text-feldgrau.py-5.grabber
    %h1 View your shopping footprint in a instant!

  .row.px-5.text-right
    .col-5
      %h2 Easy access dashboard
      %br
      .card
        = image_tag 'footprint_view.png', { :id => 'footprint_mockup'}
    .col-7
      %h2
        View your purchase history and details
      %br
      %br
      
      .generic_content
        %ul
          %li
            %span Explore 
            your shopping history and trends
          %li
            %span Analyse
            your carbon emissions on each  purchase
          %li
            %span Statistics
            about your overall carbon footprint
          %li
            %span Share
            your achievements with your friends on social media!

