.container-fluid
  .row.text-center.text-feldgrau.py-2.grabber
    %h1 Browser extension

  .row
    .col-8
      = render 'carousel'

    .col-4.generic_feature_list
      %ul
        %li
          %span Shop
          online as you normally would and seamlessly get suggestion for greener alternatives
        %li
          %span Estimated
          carbon footprint of the product currently being viewed will appear on top of the webpage
        %li 
          %span Click
          on the extension to be redirected to the a more eco-friendly solution
        %li
          %span Add
          missing data to the crowdsourced database when you're browsing
        

  
