- content_for :title, "Team 4 Home"

.bg-image(style = "background: url('bg-placeholder.png')")
  %div.py-5.text-center
    %h1.text-shadow Reduce Your Impact
    %p.lead Shopping online is a jungle of unsustainable products. Sign up now to make eco-friendly buying a breeze.
    %button.btn.btn-primary.btn-lg.my-3 View Our Pricing Plans
.container