- content_for :title, "Team 4 Home"

.py-5.bg-image(style = "background: url('bg-placeholder.png')")
  .my-5.py-5.text-center(style = "backdrop-filter: blur(3px)")
    %h1.text-shadow.text-white Reduce Your Impact
    %p.lead.text-shadow.text-white Online shopping is a jungle of unsustainable products. Sign up now to make eco-friendly buying a breeze.
    = link_to "View Our Pricing Plans", new_newsletter_path, class:"btn btn-primary btn-lg my-3" 
.container