- content_for :title, "Team 4 - Pricing plans"

.container-fluid
  .row.text-center.text-feldgrau.grabber.pt-5
    %h4 
      %span.highlight-dyk Did you know?
      By 2050, global freight will account for over a quarter of the world's carbon footprint?

    %h1
      Join us today, and
      %span.highlight-text change
      the world.
  .row 
    #generic_price_table
      %section
        .container
          .row
            .col-md-12
              / PRICE HEADING START
              .price-heading.clearfix
                %h1 Our plans
              / //PRICE HEADING END
        .container
          / BLOCK ROW START
          .row
            .col-md-4
              / PRICE CONTENT START
              .generic_content.clearfix
                / HEAD PRICE DETAIL START
                .generic_head_price.clearfix
                  / HEAD CONTENT START
                  .generic_head_content.clearfix
                    / HEAD START
                    .head_bg
                    .head
                      %span FREE
                    / //HEAD END
                  / //HEAD CONTENT END
                  / PRICE START
                  .generic_price_tag.clearfix.height-fix.pt-3
                    %span.price
                      %span.sign £
                      %span.currency 0
                      %span.cent .00
                      %span.month /MONTH
                  / //PRICE END
                / //HEAD PRICE DETAIL END
                / FEATURE LIST START
                .generic_feature_list
                  %ul
                    %li
                      %span Unlimited
                      shopping suggestions
                    %li
                      %span One-click
                      Visit retailer
                    %li
                      %span No
                      purchase history
                    %li
                      %span No
                      carbon footprint viewer
                    %li
                      %span 24/7
                      Support
                / //FEATURE LIST END
                / BUTTON START
                .generic_price_btn.clearfix
                  -# %a{:href => "/newsletters/new", :vocation => "Customer"} Sign up
                  = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Customer", :tier => "Free")
                / //BUTTON END
              / //PRICE CONTENT END
            .col-md-4
              / PRICE CONTENT START
              .generic_content.clearfix
                / HEAD PRICE DETAIL START
                .generic_head_price.clearfix
                  / HEAD CONTENT START
                  .generic_head_content.clearfix
                    / HEAD START
                    .head_bg
                    .head
                      %span Solo
                    / //HEAD END
                  / //HEAD CONTENT END
                  / PRICE START
                  .generic_price_tag.clearfix.height-fix.pt-3
                    %span.price
                      %span.sign £
                      %span.currency 4
                      %span.cent .99
                      %span.month /MONTH
                  / //PRICE END
                / //HEAD PRICE DETAIL END
                / FEATURE LIST START
                .generic_feature_list
                  %ul
                    %li
                      %span Unlimited
                      shopping suggestions
                    %li
                      %span One-click
                      access
                    %li
                      %span View
                      purchase history
                    %li
                      %span View
                      carbon footprint
                    %li
                      %span 24/7
                      Support
                / //FEATURE LIST END
                / BUTTON START
                .generic_price_btn.clearfix
                  -# %a{:href => "/newsletters/new", :vocation => "Customer"} Sign up
                  = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Customer", :tier => "Solo")
                / //BUTTON END
              / //PRICE CONTENT END
            .col-md-4
              / PRICE CONTENT START
              .generic_content.clearfix.active.ribbon-holder 
                .corner-ribbon.top-right
                  SALE
                / HEAD PRICE DETAIL START
                .generic_head_price.clearfix
                  / HEAD CONTENT START
                  .generic_head_content.clearfix
                    / HEAD START
                    .head_bg
                    .head
                      %span Family
                    / //HEAD END
                  / //HEAD CONTENT END
                  / PRICE START
                  .generic_price_tag.clearfix.height-fix
                    %span.price
                      %span.sign.strikethrough £19.99
                    %span.price
                      %span.sign £
                      %span.currency 14
                      %span.cent .99
                      %span.month /MONTH
                  / //PRICE END
                / //HEAD PRICE DETAIL END
                / FEATURE LIST START
                .generic_feature_list
                  %ul
                    %li
                      %span Unlimited
                      shopping suggestions
                    %li
                      %span One-click
                      access
                    %li
                      %span View family
                      purchase history
                    %li
                      %span View family
                      carbon footprint
                    %li
                      %span 24/7
                      Support
                / //FEATURE LIST END
                / BUTTON START
                .generic_price_btn.clearfix
                  -# %a{:href => "/newsletters/new", :vocation => "Customer"} Sign up
                  = link_to 'Sign up', new_newsletter_path(@newsletters, :type => "Customer", :tier => "Family")
                / //BUTTON END
              / //PRICE CONTENT END
          / //BLOCK ROW END