- content_for :title, "Team 4 - Welcome"

.container-fluid.pad-edge
  %h1.pt-5 Thanks for signing up!
  %h3 We'll be in touch soon with more information.
  %p.pt-3
    = link_to 'Back to home', '/'