- content_for :title, "Team 4 - Welcome"

.container-fluid.pad-edge
  %h1.pt-5 Uh-oh, you've caught us before we're ready!
  We haven't quite got anything yet, but we'd love to tell you when we have.