.btn-custom, 
.btn-custom:hover a{
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
} 

.btn-custom a{
  border: 1px solid #65b891;
  color: #65b891;
} 

.btn-custom-active a{
  background-color: #65b891;
  color: #fff;
} 

.btn-custom:hover a,
.btn-custom:active a{
  background-color: #65b891;
  color: #fff;
}

.btn-custom, .btn-custom-active {
  margin: 20px 0 32px;
}

.btn-custom a, .btn-custom-active a{
  border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
-o-border-radius: 50px;
-webkit-border-radius: 50px;
  display: inline-block;
  font-size: 18px;
  outline: medium none;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}


.btn-ecommerce { 
  color: #47251F;
  background-color: var(--br4); 
  border-color: var(--br4); 
  text-transform: uppercase;
} 
 
.btn-ecommerce:hover, 
.btn-ecommerce:focus, 
.btn-ecommerce:active, 
.btn-ecommerce.active, 
.open .dropdown-toggle.btn-ecommerce { 
  color: #FFFFFF; 
  background-color: #bc9464; 
  border-color: var(--br4); 
} 
 
.btn-ecommerce:active, 
.btn-ecommerce.active, 
.open .dropdown-toggle.btn-ecommerce { 
  background-image: none; 
} 
 
.btn-ecommerce.disabled, 
.btn-ecommerce[disabled], 
fieldset[disabled] .btn-ecommerce, 
.btn-ecommerce.disabled:hover, 
.btn-ecommerce[disabled]:hover, 
fieldset[disabled] .btn-ecommerce:hover, 
.btn-ecommerce.disabled:focus, 
.btn-ecommerce[disabled]:focus, 
fieldset[disabled] .btn-ecommerce:focus, 
.btn-ecommerce.disabled:active, 
.btn-ecommerce[disabled]:active, 
fieldset[disabled] .btn-ecommerce:active, 
.btn-ecommerce.disabled.active, 
.btn-ecommerce[disabled].active, 
fieldset[disabled] .btn-ecommerce.active { 
  background-color: var(--br4); 
  border-color: var(--br4); 
} 
 
.btn-ecommerce .badge { 
  color: var(--br4); 
  background-color: #FFFFFF; 
}