

ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: var(--dark1);
}

.suggested-product{
    background-color: var(--light2);
}

.card{
    background-color: var(--light2);
}