@font-face {
    font-family: 'Fredericka the Great';
    src: url('Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format("truetype");
}
  
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('Montserrat/Montserrat-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand/Quicksand-VariableFont_wght.ttf') format("truetype");
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand/static/Quicksand-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('Quicksand/static/Quicksand-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url('Quicksand/static/Quicksand-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit/Outfit-VariableFont_wght.ttf') format("truetype");
}

@font-face {
    font-family: 'Outfit-Light';
    src: url('Outfit/static/Outfit-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('Outfit/static/Outfit-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Outfit-Bold';
    src: url('Outfit/static/Outfit-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Outfit-SemiBold';
    src: url('Outfit/static/Outfit-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Patua One';
    src: url('Patua_One/PatuaOne-Regular.ttf') format("truetype");
}