@import 'variables';

.custom-footer {
  background-color: var(--secondary);
  color: var(--theme-white);
}

.custom-footer a {
  color: var(--theme-white);
}

.custom-footer ul{
  margin-bottom: 0;
}