
.bg-green{
  background-color: mediumseagreen;
}

.bg-light-green {
  background-color: rgba(38, 166, 91, 0.1)
}

.bg-brown-sugar {background-color: #9F684B}
.bg-russian-green {background-color: #5E8D66;}
.bg-feldgrau {background-color:#3E4F44;}

.text-bluegrey {color: #263238;}

.text-green {color: mediumseagreen; }
.text-brown-sugar {color: #9F684B;}
.text-dutch-white {color: #EEDBBE;}
.text-opal {color: #C2D6C5;}
.text-russian-green { color: #5E8D66;}
.text-feldgrau { color: #3E4F44;}

.text-shadow{
  text-shadow: 0 0 0.5em black;
}

.pad-edge{
  padding-left: 10%;
  padding-right: 10%;
}

.overlay {
  position:absolute;
  top: 0;
}

.bg-consumer {
  background: linear-gradient(to top, #005500FF, #EEDBBE00), url("/images/bg-forest.jpg") repeat center center;
  background-size: cover;
}

.bg-business {
  background: linear-gradient(to top, #8888FFFF, #EEDBBEEE), url("/images/bg-wind-turbines.jpg") repeat center center;
  background-size: cover;

}

.transition-wrapper {
  position: relative;
}

.custom-shape-divider-bottom-1637446340 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-1637446340 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1637446340 .shape-fill {
  fill: #F7F7F7;
}

.custom-shape-divider-top-1637446340 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1637446340 svg {
  position: relative;
  display: block;
  width: calc(225% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1637446340 .shape-fill {
  fill: #F7F7F7;
}


.fixed-padding-top {
  padding-top:200px;
  padding-bottom:200px;
}


.highlight-text {
  color: 5e8d66;
  font-weight: bold;
  text-decoration: underline;
}

.highlight-text:hover {
  color: #5e8d66;
  cursor: default;
}


/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #3e4f44;
} */

ul.feature-list li { 
  list-style-type: none;
  background: url('/images/tick_medium.png') no-repeat left center;
  padding: 5px 10px 5px 50px;
  line-height: 50px;
  margin: 0;
  vertical-align: middle;
  font-size: 1.4em;
  font-weight: 200;
  color: #3E4F44;
} 

