@import 'variables';


/* 
 General page styling
*/

html, body {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
	margin:0;
	color:var(--dark1);
  background-color: var(--light1);
  font-family: 'Outfit';
  font-weight: 100;
  font-size: 1.2em;
	-webkit-font-smoothing:antialiased;
	transition:color var(--animate) ease-in-out, background var(--animate) ease-in-out;
  padding-top: 140px;
}

// Login form style
.devise-form-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: var(--light2);
  color: var(--dark1);
  padding: 0;
  max-width: 500px;
  border-radius: 10px;
}

// Custom class to set width
.w-100vw{
	width: 100vw;
}

// Default link styling
a {color: var(--fg1);}
a:hover, a:visited, a:link, a:active{text-decoration: none;}

// Default table styling
.table {
  color: var(--bg1);
}


.colors {
  color: #b5ffe1; // Nav link
  color: #93e5ab; // Nav link hover
  color: #00241b; // Dropdown link
  color: #337054; // Dropdown link hover 
}


.form-text, .text-dark {
  color: var(--dark1) !important;
}