@import 'variables';
@import "bootstrap";

html, body {
  height: 100%;
}

.devise-form-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: var(--light2);
  color: var(--dark1);
  padding: 0;
  max-width: 500px;
  border-radius: 10px;
}
.w-100vw{
	width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
	margin:0;
	color:var(--dark1);
  background-color: var(--light1);
  font-family: 'Outfit';
  font-weight: 100;
  font-size: 1.2em;
	-webkit-font-smoothing:antialiased;
	transition:color var(--animate) ease-in-out, background var(--animate) ease-in-out;
  padding-top: 140px;
}

#cat_nav{
    background-color: darkslategrey;
}

a {
  color: var(--fg1);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.table {
  color: var(--bg1);
}

$mynewcolor: #bc7164;
.btn-primary {
  @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
  @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

.bg-shade {
  background-color: var(--light3);
  border-radius: 0px 0px 10px 10px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);


}

#dashboard-tabs {
  border-style: none;
}

#dashboard-tabs .nav-link {
  // font-size:1em;
  font-weight: bold;
  color: var(--dark1);
  border-style: none;
}

#dashboard-tabs .active {
  background-color: var(--tertiary);
  color: var(--light1);
}

.customer-dashboard {
  background-color: var(--light3);

}

.figure-border{
  border-style: solid;
  border-color: var(--light2);
}

.text-product{
  color: var(--dark1);
  font-size:1.4em;
  background-color: var(--light3);
}

.text-product:hover {
  color: var(--light1);
  background-color: var(--tertiary);
}
