html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Outfit';
  font-weight: 100;
  font-size: 1.2em;
}

.devise-form-container {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: white;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px lightgrey;
}

a {
  color: #00241B;
}