@import 'variables';

.custom-nav {
  font-weight: 300;
  background-color: var(--primary);
  font-size: 0.9em;
  position:fixed;
  top: 0;
  width:100%;
  z-index: 9;
}

.custom-nav-fonts,
.custom-nav-fonts a,
.custom-nav-fonts a:active,
.custom-nav-fonts a:visited {
  color: #b5ffe1;
}
.custom-nav-fonts:hover,
.custom-nav-fonts a:hover {
  color: #93e5ab;
}

.dropdown-menu {
  z-index: 2;
}
.dropdown-menu a{
  color: #00241b;
  text-decoration: none;
  padding-left:5px;
  z-index: 2;
}

.dropdown-menu a:hover {
  color: #337054;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

