// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

::-webkit-scrollbar {
    display: none;
}

body{
    overflow-x: hidden;
    width: 100%;
}

.offset-y {
    margin-top: -1em;
    align-items: center;
    justify-content: center;
    margin-right: -0.5em;
    margin-left: -0.5em;
}

.border {
    background-color: lightgreen;
    color: darkslategrey;
    padding: 5px;
    border-radius: 25px;
}


.center {
    text-align: center;
}

.breakdown {
    text-align: right;
}

.card{
    margin-right: 5px;
    min-width: 12rem;
}

.suggested-products{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.calculations{
    color: darkgreen;
    background-color: lightgreen;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    // 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    // 0 100px 80px rgba(0, 0, 0, 0.12)
    ;

    
    min-height: 200px;
    background: white;
    border-radius: 5px;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.round-image{
    border-radius: 25px;
}

#chevron {
    .fa{
        transform: scale(1,2.5);
    }
}

#co2_right {
    display: none;
    animation-duration: 3s;
}