
.container
  %h1 Listing categories
  .row
    - Category.roots.each do |category|
      .col-3
        .card.bg-light.my-3
          .card-body.d-flex.flex-column.justify-content-around  
            = link_to category.name, category 

  %br

  - if can?(:manage, Category)
    = link_to 'New Category', new_category_path
