.modal-dialog
    .modal-content
        = simple_form_for :user, remote: true do |f|
            .modal-header
                %h5.modal-title Edit User
                %button.close{ type: :button, data: { dismiss: :modal}}
                    %span &times;
            
            .modal-body#input
                = f.select :role, ['admin', 'reporter', 'customer']