
%table.table
    %thead
        %tr
            %th Email
            %th Role

    %tbody
        - @users.each do |u|
            %tr
                %td= u.email
                %td= u.role
                = form_for [:admin, u], method: 'delete' do |f|
                    - if u != current_user
                        %td= f.submit "Delete", method: :delete, data: { id: u.id, confirm: 'Are you sure you want to delete this user?' }

