%table.table
  %thead
    %tr
      %th Email
      %th Username
      %th Unlock
      %th Actions

  %tbody#show_all_users
    - @customers.each_with_index do |customer, i|
      %tr
        %td= customer.email
        %td= customer.username
        %td= customer.unlock_button?
        %td= link_to 'Edit user', edit_admin_customer_path(customer), class: 'ajax-modal btn btn-xs'