.card.text-center
  - if flash[:alert]
    .alert=flash[:alert]
.modal-dialog
  .modal-content
    = simple_form_for @user, url: admin_user_path do |f|
      .modal-header
        %h4.modal-title Editing user 
        = link_to 'Back', admin_users_path
      .modal-body
        .card-body
          .email{ 'pattern'=>"(?!test@test\.com$)[a-z0-9._%+-]{3,}@[a-z]{3,}\.[a-z]{2,}(?:\.[a-z]{2,})?" }= f.input :email, validate: true, id: 'email', type: 'email'
        .card-body
          = f.select :role, ['admin', 'reporter', 'customer'] 
      .modal-footer
        .pull-left
          
        = f.button :submit, method: :update , id:'submit_button' , class: 'btn btn-outline-dark'