= additional_javascript('products')

#back-button.d-flex.flex-column.p-2
    = link_to 'Back', :back, {class: 'fa fa-arrow-left'}
    - if can?(:manage, Product)
        %hr
        = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

.container-fluid.pad-edge
    %h1.pt-5  Editing product

    %br
    = render 'form'