- content_for :title, "Edit Product"

= additional_javascript('products')

.container-fluid.pad-edge
  .pt-5
    .pull-right
      .btn.btn-ecommerce
        %i.fa.fa-rotate-left
        = link_to 'Back', :back
      - if can?(:manage, Product)
        .btn.btn-ecommerce
          %i.fa.fa-trash
          = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %h1 Editing product
    %br
    = render 'form'