= additional_javascript('products')

- content_for :title, "New Product"

.container-fluid.pad-edge
  .pt-5
    .pull-right
      .btn.btn-ecommerce
        %i.fa.fa-rotate-left
        = link_to 'Back', :back
  %h1 New Product
  = render 'form'
