%li
  = link_to 'Profile', business_show_path, :class => 'dropdown-link'
  %li
    = link_to 'Account Settings', business_edit_path, :class => 'dropdown-link'
    %hr.dropdown-divider
  %li
    = link_to 'Sign Out', destroy_business_session_path, method: :delete, :class => "dropdown-link"