%footer.mt-auto.my-5.pt-5.text-muted.text-center.text-small.custom-footer
    %p.mb-1 &copy; Team 4 #{Date.today.year}
    %ul.list-inline
    %li.list-inline-item
        = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
    %li.list-inline-item
        %a{:href => "#"} Terms
    %li.list-inline-item
        %a{:href => "#"} Support
