= stylesheet_link_tag 'features'

.d-flex.justify-content-center.social_links
  %a.px-2.email-share-button.share{:name => "email", :href => "mailto:", :aria-label => "Share feature via email", :title => "Share feature via email"}
    %i.fa.fa-share-alt-square.fa-lg.icon-color
  %br
  %a.px-2.twitter-share-button.share{:name => "twitter", :aria-label => "Share feature via Twitter", :title => "Share feature via Twitter"}
    %i.fa.fa-twitter.icon-color
  %br
  %a.px-2.share.fb-share-button.fb-xfbml-parse-ignore{:name => "facebook", :target => "_blank",  :aria-label => "Share feature via Facebook", :title => "Share feature via Facebook"}
    %i.fa.fa-facebook

